= form_for @search, url: search_show_path, method: :get do |f|
  .text.small.flex-container.margin-m
    .flex-expanded.text.right
      GENRES:
    - @search.genres.each do |g|
      .margin-s-r
        = f.check_box :genres, { multiple: true, include_hidden: false , checked: @search.genre_selected?(g.id)}, g.id
        = g.name

  .text.small.flex-container.margin-m
    .flex-expanded.text.right
      RANGE:
    - @search.created_ats.each do |key, value|
      .margin-s-r
        = f.radio_button :created_at, value
        = key

  .text.large.flex-container.baseline
    %div.flex-expanded
    %div
      = f.text_field :content, class: "form", placeholder: "keyword here!", value: @search.content
    %div.margin-m-l
      = button_tag "Submit", class: "btn", type: :submit
    %div.flex-expanded

- @discoveries&.each do |d|
  = render "discoveries/item_discovery", discovery: d