- discovery = discovery
- genres = genres

= javascript_include_tag "discoveries/item_discovery"

.margin-s{style: "padding: 0.5em 1em; background: #dcf7f0; border-left: solid 10px #42f4c8;"}
  .flex-container.align-center.js-container-text
    %div
      .text.normal.js-content-text
        = simple_format(discovery.content)
      .text.small.margin-s-b.js-genres-text
        genres:
        - discovery.genres.each do |g|
          %span.circle.theme= g.name
      .text.xsmall
        - created_at = discovery.updated_at.present? ? discovery.updated_at : discovery.created_at
        = created_at.strftime('%m/%d %H:%M')
    .flex-expanded
    %div
      .btn.text.normal.js-edit
        Edit

  .js-container-form.hide{data: {target_discovery_id: discovery.id}}
    = form_for discovery do |f|
      .flex-container.align-center
        %div
          .text.large.js-content
            = f.text_area :content, class: "form", size: "100x6", placeholder: "What's your new discovery!?"

          .text.small.margin-m.flex-container
            genres:
            - genres.each do |g|
              .margin-s-r
                = f.check_box :genre_ids, { multiple: true, include_hidden: false }, g.id
                = g.name
            = link_to "add?", new_genre_path
        .flex-expanded
        .js-submit.btn Submit
